@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lobster&family=Montserrat:wght@400;600;900&family=Poppins:wght@400;500;600;700&display=swap');
*,
*::before
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    
}

body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(54, 54, 54);
    
}
.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(1, 1, 1, 0.7);
    padding: 0px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}
.fondo {
    object-fit: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;

}
.logo {
    font-size: 35px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
}
.navigation ul{
    list-style: none;

}
.header .navigation ul li {
    float: left;
    position: relative;
}
.header .navigation ul li a {
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    padding: 20px;
    display: block;
    transition: all .2s ease;
}
.header .navigation ul li a:hover {
    background-color: #00c3ff;
}
.header .navigation ul li ul {
    position: absolute;
    right: 0;
    width: 300px;
    background-color: #242628;
    display: none;
}
.header .navigation ul li ul li a {
    font-size: 15px;
    text-transform: capitalize;
    }
    .header .navigation ul li ul li ul {
        position: absolute;
        top: 0;
        right: 300px;
    }
    .header .navigation ul li ul li {
        width: 100%;
    }
    .header .navigation ul li:hover > ul {
        display: initial;
    }
    #toggle,
    .header label {
        display: none;
        cursor: pointer;
    }
    .menu {
        width: 45px;
        height: 35px;
    
    }
    @media(max-width:950px) {
        .header label {
            display: initial;
        }
        .header {
            padding: 20px 10px;
        }
        .header .navigation {
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            background-color: rgba(1, 1, 1, 0.7);
            display: none;
        }
        .header .navigation ul li {
            width: 100%;
        }
        .header .navigation ul li a {
            padding: 8px 30px 8px 10%;
        }
        .header .navigation ul li ul {
            position: relative;
            width: 100%;
            left: 0;
        }
        .header .navigation ul li ul li {
            background-color: rgba(1, 1, 1, 0.7);
        }
        .header .navigation ul li ul li ul {
            position: relative;
            width: 100%;
            left: 0;
        }
        #toggle:checked ~ .navigation{
            display: block;
        }
    }
    



.contenedor {
    max-width: 1300px;
    width: 95%;
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
}

.mate a {
    display: inline-block;
    background-color: #00c3ff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
    object-fit: cover;

    

}
.mate:hover{
    transform: scale(1.1);
}

@media (min-width:300px) {
    .tres-columnas {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .mate {
        flex-basis: calc(33.3% - 1rem);
       
    }
}


.container-1{
    margin: 2.5rem;
    
    
}
.text1{
    display: flex;
    justify-content: space-around;
    padding: 50px;
    background-color: #03472d;
    font-size: 10px;
    color: #ffffff;
    text-align: center;
}
.video {
    width: 65%;
    height: auto;
    
}

/* Codigo Footer de Alen */

.container{
    background-color: #242628;
    padding: 60px 0;
}
.footer-row{
    display: flex;
    flex-wrap: wrap;
}
.footer-links{
    width: 25%;
    padding: 0 15px;
    list-style: none;
}
.footer-links h4{
    font-size: 20px;
    color: white;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #00c3ff;
    padding-bottom: 10px;
    display: inline-block;
}
.footer-links ul li a {
    font-size: 15px;
    text-decoration: none;
    color: #bbbbbb;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}
.footer-links ul li a:hover {
    color: #ffffff;
    padding-left: 2px;

}
.social-links a {
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all .5s ease;
}
.social-links a:hover {
    background-color: #00c3ff;
}
.firma {
    font-size: 15px;
    color: #ffffff;
}
@media (min-width:300px) {
     .footer{
        display: inline;
        
        
    }
    
}


/* Codigo Carrito*/

.banner{
    background: url(../img/icon/banner-mate.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
    border: 1px solid white;
}

h1.titulo-carrito{
    font-size: 35px;
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    
}

.contenedor{
    max-width: 1200px;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

h2{
    background-color: black;
    color: white;
    text-align: center;
    border: 2px solid white;
    padding: 20px;
}

.contenedor .contenedor-items{
    margin-top: 30px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 30px;
    grid-row-gap: 30px;
    width: 100%;
    transition: .3s;
}

.contenedor .contenedor-items .item{
    background-color: whitesmoke;
    max-width: 200px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    transition: .3s;
}

.contenedor-items .item:hover{
    box-shadow: 0 0 10px black;
    scale: 1.05;
}

.contenedor-items .item .img-item{
    width: 100%;
    border: 1px solid black;
}

.contenedor-items .item .titulo-item{
    display: block;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: black;
    color: white;
    border: 1px solid black;
}

.contenedor-items .item .precio-item{
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    background-color: whitesmoke;
}

.contenedor-items .item .boton-item{
    display: block;
    margin: 10px auto;
    border: none;
    background: deepskyblue;
    color: white;
    padding: 15px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

.api{
    text-align: center;
    color: white;
    font-size: 20px;
}